# Ver https://docs.docker.com/engine/reference/builder/#dockerignore-file para más información sobre cómo ignorar archivos.

# Ignorar el directorio git.
/.git/

# Ignorar la configuración de bundler.
/.bundle

# Ignorar todos los archivos de entorno (excepto plantillas).
/.env*
!/.env*.erb

# Ignorar todos los archivos de claves por defecto.
/config/master.key
/config/credentials/*.key

# Ignorar todos los archivos de registro y temporales.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignorar los archivos pid, pero conservar el directorio.
/tmp/pids/*
!/tmp/pids/.keep

# Ignorar el almacenamiento (archivos subidos en desarrollo y bases de datos SQLite).
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

# Ignorar los assets.
/node_modules/
/app/assets/builds/*
!/app/assets/builds/.keep
/public/assets
